language: ruby

rvm:
  - 2.6.3

services:
  - postgresql

bundler_args: "--without development --deployment"

cache:
  bundler: true
  directories:
    - node_modules
  yarn: true

before_install:
  - gem update --system
  - gem update bundler
  - nvm install v8.11.4
  - node -v
  - npm i -g yarn@1.9.4
  - yarn

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - cp config/database.travis.yml config/database.yml
  - bundle exec rake db:create
  - bundle exec rake db:migrate

script:
  - bundle exec rspec spec

notifications:
  email: false
  slack:
    secure: HmCU9kqQsv4aUMqn+ToqZXHpmVS0tYEXEMs59ibVALaROv6+bV+osrlyR+eHOkV0+uw66VugjAn09M8EYwtUe7ff3ddksZQR3vFrPE46F7wvfEIf9rYNUHgXWh3RIdPORWRj0TG6NWhkQcqh8/12z/h4RBPqb2+6ecRIO01oA/gc4qXGrnWndRXpE8voV4cHa69+e3mruILgeH6EXOz/47GCzZT8hBhLLCkeiyfpZ3YiAYnBnU5VeBJ0ed9ZQDbgybu88TN189QndQdLPjAgUweHe7W5CUw9bpikZQUQ5RMw/wm3YerhLHHpUS4PemKj/k5C5wZFgO6gsOMDY6WkHvBopxiJmoGJLFO/OTzGw32lV4b8IgOwxXkqduWx9f5xYCq6fj6HlW5AxqZNyKborAVpS5xf9uhK+rIaWJvOg6O1n53keVAPaIEahVjHkkiImRNFSeb832+VEBNXPCxDFP21Ok1IDMSWR5AlxjRAn1v9L+wkP4Pa5fwwirF5yav7I4/BTtuJd+uQsBk/E4aJVL0vczFUlmCdqP3ALcbS/RrpjHGIn9PHjD4O8w0Lpg6pX7e1EA4/9XzyXbWSCNN2FFO+BLA/ZlCSt7p2tnKwLKKsjjhQ+fuy6ZAn3ibULK5nfxS7TQHC9RWxvFS3yPfaTrnHRzwY2acf1Nmy/oKBs3U=
